<div class="user-buy" ng-controller="App.User.Buy.Controller">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="button button-clear button-light icon ion-ios-arrow-left" on-touch="back()"></button>
        </div>
        <h1 class="title">{{chip.name}}</h1>
    </ion-header-bar>
    <ion-content class="has-tabs">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slider-box border-bottom">
            <ion-slide ng-repeat="img in chip.chipimage_se">
                <div class="box">
                    <img ng-src="img.image">
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="padding border-bottom title-info">
            <p class="price assertive">{{ 399 | currency:"￥"}}</p>
            <p class="desc">
                <span class="text-dark">{{chip.name}}</span>
                <span class="text-gray">{{chip.intro}}</span>
            </p>
        </div>
        <div class="padding border-bottom">
            <div class="row padding-bottom">
                <div class="col-20">
                    <p class="text-dark params-select">套餐</p>
                </div>
                <div class="col-80">
                    <div class="buttons">
                        <button class="button button-small button-outline padding-left padding-right" ng-class="{active: choseType==1}" on-touch="selectType(1)" ng-repeat="combos in combos_list">{{combos.name}}</button><!-- 
                        <button class="button button-small button-outline padding-left padding-right" ng-class="{active: choseType==2}" on-touch="selectType(2)">套餐二</button> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-20">
                    <p class="text-dark params-select">颜色</p>
                </div>
                <div class="col-80">
                    <div class="buttons">
                        <button class="button button-small button-outline padding-left padding-right" ng-class="{active:choseColor==1}" on-touch="selectColor(1)">白色</button>
                        <button class="button button-small button-outline padding-left padding-right" ng-class="{active: choseColor==2}" on-touch="selectColor(2)">红色</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding border-bottom">
            <div class="row">
                <div class="col-20">
                    <div class="text-dark">
                        详细介绍
                    </div>
                </div>
                <div class="col-80">
                    <div class="padding-left text-gray" ng-bind-html="chip.description"></div>
                </div>
            </div>
        </div>
        <div class="select-tabs border-bottom">
            <div class="row text-center text-gray">
                <div class="col-33">
                    <div class="padding" ng-class="{active: activeTab==1}" on-touch="setTabs(1)">套餐介绍
                    </div>
                </div>
                <div class="col-33">
                    <div class="padding" ng-class="{active: activeTab==2}" on-touch="setTabs(2)">
                        使用说明
                    </div>
                </div>
                <div class="col-33">
                    <div class="padding" ng-class="{active: activeTab==3}" on-touch="setTabs(3)">
                        规格参数
                    </div>
                </div>
            </div>
            <div class="select-contents">
                <div class="sel-cont" ng-show="activeTab==1">
                    <div class="row">
                        <dic class="col-20">
                            <div class="text-dark padding">套餐一</div>
                        </dic>
                        <div class="col-80">
                            <div class="padding-top text-gray">
                                套餐一详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <dic class="col-20">
                            <div class="text-dark padding">套餐二</div>
                        </dic>
                        <div class="col-80">
                            <div class="padding-top text-gray">
                                套餐二详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sel-cont" ng-show="activeTab==2">
                    <div class="padding text-dark" ng-bind-html="chip.introduce"></div>
                </div>
                <div class="sel-cont" ng-show="activeTab==3">
                    <div class="padding text-dark" ng-bind-html="chip.standard"></div>
                </div>
            </div>
        </div>
        <div class="border-bottom">
            <div class="row buttons buy-buttons">
                <div class="col-33">
                    <button class="button button-block button-outline text-orange">芯片管理</button>
                </div>
                <div class="col  padding-left">
                    <button class="button button-block button-outline active">帮别人买</button>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="footer">
        <div class="tabs tabs-icon-left">
            <a class="game-tab tab-item" ui-sref="game-list()">
                <i class="icon ion-ios-list-outline"></i> 赛事报名
            </a>
            <a class="game-tab tab-item" ui-sref="user-buy()">
                <i class="icon ion-ios-cart-outline"></i> 芯片购买
            </a>
            <a class="user-tab tab-item" ui-sref="user()">
                <i class="icon ion-ios-person-outline"></i> 个人中心
            </a>
        </div>
    </div>
</div>
